# formating options
--indent tab

# file options
--exclude Unapp/StyleKit.swift

# rules https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md
--disable redundantSelf
--disable unusedArguments
